{% if messages %}
<ul>
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<a href="{% url 'add_student' %}">Add Student</a>
<hr>

{% for s in stu %}
{{s.stu_id}}
{{s.name}}
{{s.age}}
{{s.sex}}
{{s.father_Name}}
{{s.mother_Name}}
{{s.last_Education}}
<a  href="{% url 'update_view' s.id %}">Update</a>
<a href="{% url 'delete_view' s.id %}">Delete</a>
{% empty %}
<h1>Empty</h1>
{% endfor %}