
{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
    <style>
        .student {
            margin-top: 50px;
            margin-bottom: 100px;
        }
    
        .forms {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 2px blue solid;
        }
    
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }
    
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
    
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
    
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
    <div class="col-lg-12 student">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Update Student Information</h4> <br>
                </div>
                <div class="col-lg-6 mx-auto forms">
                    <form action="." method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input class="btn btn-primary" type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}